.sidebar{

width:240px;

background:#111827;

color:white;

height:100vh;

padding:20px;

position:fixed;

left:0;

top:0;

display:flex;

flex-direction:column;

gap:12px;

}

.sidebar h2{

margin-bottom:20px;

}

.sidebar button{

background:none;

border:none;

color:white;

padding:14px;

display:flex;

gap:12px;

cursor:pointer;

border-radius:10px;

font-size:16px;

}

.sidebar button:hover{

background:#374151;

}

.sidebar .active{

background:#2563eb;

}