.upload-box{
    background:white;
    padding:30px;
    border-radius:16px;
    box-shadow:0 8px 25px rgba(0,0,0,.08);
    margin-bottom:30px;
    text-align:center;
}

.upload-box h2{
    margin-bottom:10px;
}

.upload-box p{
    color:#666;
    margin-bottom:20px;
}

.upload-box input{
    cursor:pointer;
}